@{
    ViewData["Title"] = "Home Page";
}

<style>
    .body {
        width: 320px;
        padding: 10px;
        border: 5px solid gray;
        margin: 10px;
        outline-style:groove;
        border-color:green;
    }
    .text-center {
        width: 100%;
        padding: 10px;
        background-color: lightgreen;
        border: 5px solid gray;
        margin: 10px;
        outline-style: groove;
        border-color: green;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }

</style>
<body>
    <div class="text-center">
        <h1>Bem - Vindo</h1>
    </div>
</body>
