@model Cadastro_e_Acesso.Models.Estado

@{
    ViewData["Title"] = "Create";
}
<style>
    .row {
        max-width: 100%;
        margin: auto;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: lightgreen;
    }
    .a {
        margin: 20px;
        text-align: center;
        font-size: 2em;
    }
</style>
<h1><strong>CADASTRAR</strong></h1>

<h4>Estado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeEstado" class="control-label"></label>
                <input asp-for="NomeEstado" class="form-control" />
                <span asp-validation-for="NomeEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeFederativa" class="control-label"></label>
                <input asp-for="UnidadeFederativa" class="form-control" />
                <span asp-validation-for="UnidadeFederativa" class="text-danger"></span>
            </div>
            <div class="form-group a">
                <input type="submit" value="Cadastrar" class="btn btn-outline-success mb-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">De volta a lista</a>
</div>

